.img2 {
  display: flex;
  align-items: center;
  margin-left:140px;
}
.image_url{
  width:140px;
}
.image {
  width: 100%;
  height: auto; 
}
.dishdetail h2{
  font-size: 30px;
}
.dishdetail h2{
 font-size: 20px;
 color:darkgray;

}
.dishdetail h3{
  font-size: 20px;
}
.dishdetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  align-items: center;
  margin-left: 10px;
  margin-right: 30px;
  margin-top:50px;
}


.btn {
  margin: 10px;
  color: black;
}
.button2{
  margin-left: 100px;
}
.contain{
  margin-top: 50px !important;
}
.description{
  font-size: 15px;
}
