.container {
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.card {
    width: 500px;
    padding: 20px;
    border-radius: 8px;
    height: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top:100px;
    margin-bottom: 50px;
}

.new_password {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-primary {
    margin-top: 20px;
    width: 100%; 
}