{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% load static %}
{% block extra_css %} 
    <link rel="stylesheet" href="{% static 'css/forgot_password.css' %}">
{% endblock %}

<div class="form-gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <div class="card">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">{% trans "Reset Password" %}</h2>
                        <p>{% trans "Please enter your new password." %}</p>

                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endif %}

                        <form id="password-reset-form" role="form" autocomplete="off" class="form" method="post" action="{% url 'app:password_reset' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                                    <input id="newpassword" name="new_password" placeholder="{% trans 'New Password' %}" class="form-control" type="password" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                                    <input id="confirmpassword" name="confirm_new_password" placeholder="{% trans 'Confirm New Password' %}" class="form-control" type="password" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <input name="password-reset-submit" class="btn btn-lg btn-primary btn-block" value="{% trans 'Reset Password' %}" type="submit">
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
