{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block extra_css %} 
    <link rel="stylesheet" href="{% static 'css/dishdetail.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="contain">
            <div class="row">
                <div class="img2 col-lg-5 mt-5">
                    {% if image_url %}
                        <img class="img-fluid rounded-3 dish-img" src="{% static image_url %}" alt="{{ name }}" >
                    {% else %}
                        <p>{% trans "No image available." %}</p>
                    {% endif %}
                </div>
                <div class="dishdetail col-lg-5">
                    <h1>{{ name }}</h1>
                    <h2>{% trans "Price: " %}{{ price }}$</h2>
                    <h3>{% trans "Dish Description" %}</h3>
                    <ul class="description">
                        {{ description }}
                    </ul>
                    <div class="buttons row">
                        <button class="btn btn-lg btn-danger show-toast-btn" role="button" onclick="addToCart('{{ item_id }}')">{% trans "Order now" %}</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Review Section -->
        <div class="reviews mt-5">            
            <div class="existing-reviews">
                {% if review.reviews %}
                    <div class="offer-dedicated-body-left">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade active show" id="pills-reviews" role="tabpanel" aria-labelledby="pills-reviews-tab">
                                <div class="bg-white rounded shadow-sm p-4 mb-4 clearfix graph-star-rating">
                                    <h5 class="mb-0 mb-4">{% trans "Ratings and Reviews" %}</h5>
                                    <div class="graph-star-rating-header">
                                        <div class="star-rating">
                                            <a href="#"><i class="icofont-ui-rating active"></i></a>
                                            <a href="#"><i class="icofont-ui-rating active"></i></a>
                                            <a href="#"><i class="icofont-ui-rating active"></i></a>
                                            <a href="#"><i class="icofont-ui-rating active"></i></a>
                                            <a href="#"><i class="icofont-ui-rating"></i></a> <b class="text-black ml-2">{% trans "Total reviews: " %}{{review.total_review}}</b>
                                        </div>
                                        <p class="text-black mb-4 mt-2">{% trans "Rated " %} {{review.avg_rating.rating|floatformat:2}} out of 5.00</p>
                                    </div>
                                    <div class="graph-star-rating-body">
                                        <div class="rating-list">
                                            <div class="rating-list-left text-black">
                                                {% trans "5 Star" %}
                                            </div>
                                            <div class="rating-list-center">
                                                <div class="progress">
                                                    <div style="width: {{review.rating_percentages.5}}%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary"></div>
                                                </div>
                                            </div>
                                            <div class="rating-list-right text-black">{{review.rating_percentages.5|floatformat:2}}%</div>
                                        </div>
                                        <div class="rating-list">
                                            <div class="rating-list-left text-black">
                                                {% trans "4 Star" %}
                                            </div>
                                            <div class="rating-list-center">
                                                <div class="progress">
                                                    <div style="width: {{review.rating_percentages.4}}%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary"></div>
                                                </div>
                                            </div>
                                            <div class="rating-list-right text-black">{{review.rating_percentages.4|floatformat:2}}%</div>
                                        </div>
                                        <div class="rating-list">
                                            <div class="rating-list-left text-black">
                                                {% trans "3 Star" %}
                                            </div>
                                            <div class="rating-list-center">
                                                <div class="progress">
                                                    <div style="width: {{review.rating_percentages.3}}%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary"></div>
                                                </div>
                                            </div>
                                            <div class="rating-list-right text-black">{{review.rating_percentages.3|floatformat:2}}%</div>
                                        </div>
                                        <div class="rating-list">
                                            <div class="rating-list-left text-black">
                                                {% trans "2 Star" %}
                                            </div>
                                            <div class="rating-list-center">
                                                <div class="progress">
                                                    <div style="width: {{review.rating_percentages.2}}%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary"></div>
                                                </div>
                                            </div>
                                            <div class="rating-list-right text-black">{{review.rating_percentages.2|floatformat:2}}%</div>
                                        </div>
                                        <div class="rating-list">
                                            <div class="rating-list-left text-black">
                                                {% trans "1 Star" %}
                                            </div>
                                            <div class="rating-list-center">
                                                <div class="progress">
                                                    <div style="width: {{review.rating_percentages.1}}%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary"></div>
                                                </div>
                                            </div>
                                            <div class="rating-list-right text-black">{{review.rating_percentages.1|floatformat:2}}%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="reviews-list">
                        {% for review in review.reviews %}
                            <li class="reviews-members pt-4 pb-4">
                                <div class="media">
                                    <a href="#" class="avatar-link">
                                        <img 
                                            alt="Reviewer Avatar" 
                                            src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp" 
                                            class="reviewer-avatar"
                                        >
                                    </a>
                                    <div class="media-body">
                                        <div class="reviews-members-header">
                                            <div class="user-info">
                                                <h6 class="mb-1"><a class="text-black" href="#">{{ review.user.name }}</a></h6>
                                                <!-- <p class="text-gray">Tue, 20 Mar 2020</p> -->
                                            </div>
                                        </div>
                                        <div class="reviews-members-body">
                                            <p class="rating-display">
                                                {% for i in "12345" %}
                                                    {% if i|add:0 <= review.rating %}
                                                        <i class="fas fa-star text-warning"></i> <!-- Filled star -->
                                                    {% else %}
                                                        <i class="far fa-star text-muted"></i> <!-- Empty star -->
                                                    {% endif %}
                                                {% endfor %}
                                            </p>
                                            <p>{{ review.comment }}</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>{% trans "No reviews yet." %}</p>
                {% endif %}
            </div>

            {% if user.is_authenticated %}
                {% if review_exists %}
                    <p>{% trans "You have already reviewed this item." %}</p>
                {% else %}
                    <div class="comment-form bg-white rounded shadow-sm p-4 mb-5 rating-review-select-page">
                        <h5 class="mb-4">{% trans "Leave Comment" %}</h5>
                        <strong class="text-success" id="review-res"></strong>
                        <div class="row">
                            <div class="col-lg-8 col-md-12">
                                <form class="form-contact comment_form hide-comment-form" action="{% url 'app:add-review' item.item_id %}" id="commentForm" method="POST">
                                    {% csrf_token %}
                                    <div class="col-12">
                                        <div class="form-group">
                                            {{ review_form.comment }}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            {{ review_form.rating }}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-sm" type="submit"> {% trans "Submit Review" %} </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>  
                {% endif %}
            {% else %}
                <p>{% trans "You must be logged in to leave a review." %}</p>
            {% endif %}
        </div>
    </div>

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>

<script src="{% static 'js/review/review.js' %}"></script>

<div class="toast-container position-fixed top-0 end-0 p-3" id="toastContainer" style="z-index: 1050;"></div>

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/order/toast.js' %}"></script>

<meta name="add-to-cart-url" content="{% url 'app:add_to_cart' %}">
<meta name="csrf-token" content="{{ csrf_token }}">
<script src="{% static 'js/menu/addToCart.js' %}"></script>
{% endblock content %}
