{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block extra_css %} 
    <link rel="stylesheet" href="{% static 'css/dishdetail.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="contain">
            <div class="row">
                <div class="img2 col-lg-5 mt-5">
                    {% if image_url %}
                        <img src="{% static image_url %}" alt="{{ name }}" class="image_url">
                    {% else %}
                        <p>{% trans "No image available." %}</p>
                    {% endif %}
                </div>
                <div class="dishdetail col-lg-5">
                    <h1>{{ name }}</h1>
                    <h2>{% trans "Price: " %}{{ price }}</h2>
                    <h3>{% trans "Dish Description" %}</h3>
                    <ul class="description">
                        {{ description }}
                    </ul>
                    <div class="buttons row">
                        <button type="submit" class="btn btn-primary col-lg-5">{% trans "Add to Cart" %}</button>
                        <button class="btn btn-primary col-lg-5 ml-2">{% trans "Buy Now" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
